
    body {
        background-color: #cac4c4;
        font-family: Georgia,  sans-serif;
    }

    p {
        text-align: center; /* Justifica o texto */
        margin: 0 5px; /* Adiciona margem à esquerda e à direita */
        padding: 10px; /* Adiciona preenchimento interno */
        color: #0a0a0a; /* Cor do texto */
    }

    ul {
        list-style-type: none; /* Remove os marcadores da lista */
        margin: 0px; /* Remove a margem padrão */
        padding: 0; /* Remove o preenchimento padrão */
        overflow: hidden; /* Garante que os itens da lista não transbordem */
        background-color: #92b3ce; /* Cor de fundo do menu */
        justify-content: center;

    }

    li {
        float: left; /* Alinha os itens da lista horizontalmente */
        
    }

    li a {
        display: block; /* Faz com que o link ocupe todo o espaço do item da lista */
        color: white; /* Cor do texto */
        text-align: center; /* Centraliza o texto */
        padding: 14px 16px; /* Espaçamento interno (padding) */
        text-decoration: none; /* Remove o sublinhado dos links */
        margin-left: 100px;
        font-weight: bold;
    }

    li a:hover {
        background-color: #558abd; /* Cor de fundo ao passar o mouse */
    }

    img:hover {
        opacity: 90%; /* Opacidade da imagem ao passar o mouse */


    }

    h1 {
        text-align: center; /* Centraliza o título */
        margin: 0 5px; /* Adiciona margem à esquerda e à direita */
        padding: 10px; /* Adiciona preenchimento interno */
        color: #0a0a0a; /* Cor do texto */
    }
        
    h2 {
        text-align: center; /* Centraliza o subtítulo */
        margin: 0 5px; /* Adiciona margem à esquerda e à direita */
        padding: 10px; /* Adiciona preenchimento interno */
        color: #0a0a0a; /* Cor do texto */
    }

    html {
        scroll-behavior: smooth; /* Faz a rolagem suave para âncoras */
    }

    center {
        margin: 5px 0; /* Adiciona margem acima e abaixo do elemento centralizado */
    }
        

    

    .linha{
        display: flex;
    }
    .coluna{
        flex: 33.3%;
        padding: 5px;
    }
    .coluna:hover{		/* se não funcionar, pode se escrever .coluna img:hover*/
        opacity: 0.25;
        transform: scale(1.1); /* aumenta a imagem */
        transition: all 0.5s ease-in-out; /* tempo de transição */

    }

    img{
    width:100%;
    height: 100%;
    }

